# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build Output
dist
dist-ssr

# System files
.DS_Store

# Editor/IDE specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
*.local

# Other
*.log